.btn-toolbar {
  padding: 0.25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around !important;
  background-color: #ADD8E6;
  border: solid 1px black;
}

.btn-group {
  margin-right: 2%;
  padding: 1px;
}

.btn.btn-secondary {
  background-color: #1164aa;
  cursor: pointer;
  font-weight: 500;
  border: solid 1px black;
}

/* Cambiar colores */
.btn.btn-secondary:hover,
.btn.btn-secondary:checked,
.btn.btn-secondary.checked {
  background-color: mediumorchid;
}

.btn.btn-secondary:focus{ /* Evita error del color al arrastrar */
  background-color: #1164aa;
}


.btn.btn-secondary.active {
  background-color: blueviolet;
  animation: efecto 0.4s ease-in-out;
}

/* Animación, solo en computadora */
@media screen and (min-width: 800px) {
  @keyframes efecto {
    to {
      background-color: mediumorchid;
    }
  }
}
