.btn-toolbar {
  padding: 0.25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around !important;
  background-color: #ADD8E6;
  border: solid 1px black;
}

.btn.btn-secondary {
  background-color: #1164aa;
  cursor: pointer;
  font-weight: 500;
  border: solid 1px black;
}

.btn.btn-secondary:hover {
  background-color: blueviolet;
}

.btn.btn-secondary:checked {
  background-color: blueviolet;
}

.btn.btn-secondary.active {
  background-color: blueviolet;
  animation: efecto 0.4s ease-in-out;
}

@media screen and (min-width: 800px) {
  @keyframes efecto {
    to {
      background-color: mediumorchid;
    }
  }
}

.btn-group {
  margin-right: 2%;
}