#Barra {
    overflow: hidden;
}

.linkBarra {
    margin-top: 15px;
    margin-left: 5px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    font-weight: 500;
}

.linkBarra:hover {
    margin-top: 10px;
    font-size: 115%;
}

.iconoBarra {
    margin-left: 5px;
}

.fab.fa-linkedin {
    font-size: 2em;
    margin-top: 10px;
    margin-left: 5px;
}

.fab.fa-github {
    font-size: 2em;
    margin-left: 5px;
    margin-top: 10px;
}

#brandBarra {
    margin-left: 5px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    font-weight: 400;
}

#botonIdioma {
    width: 50px;
    height: 50px;
}

/* Añadir espacio en móvil */
@media screen and (max-width: 840px) {
    .linkBarra {
        margin-left: 8px;
    }

    .iconoBarra {
        margin-left: 8px;
    }

    #brandBarra {
        margin-left: 8px;
    }
}