#tarjeta-contenedor {
    width: 18rem;
    margin-top: 1rem;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Borde */
    border: 1px solid #00471b;
    border-radius: 8%;
    /* Añade sombra */
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    /* Evita que el fondo cubra los bordes */
    overflow: hidden;
    /* Animación */
    animation: aparece 0.5s ease-in-out;
}

/* Agrandarse con hover */
#tarjeta-contenedor:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all .25s ease;
}

/* Aparecer verticalmente */
@keyframes aparece {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#tarjeta-imagen {
    height: 13rem;
    border-bottom: 0.5px solid #00471b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#tarjeta-cuerpo {
    background-color: #f5f6f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#imagen-carta {
    max-height: 13rem;
}

#boton-tarjeta {
    cursor: pointer;
}