#tarjeta-contenedor{
    border: 0.5px solid #00471b;
    border-radius: 8%;
    padding: 0.4%;
    margin-top: 0.25%;
}

#imagen-carta{
    border-radius: 8%;
}

.tarjeta-cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
