body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'SF Alien Encounters';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'SF Alien Encounters',
    monospace;
}

@font-face {
  font-family: 'SF Alien Encounters';
  src: local('SFAlienEncounters'), url(./fonts/SFAlienEncounters.ttf) format('truetype');
}
/* @font-face {
  font-family: 'SF Alien Encounters';
  src: local('SFAlienEncounters'), url(./fonts/SFAlienEncountersItalic.ttf) format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'SF Alien Encounters';
  src: local('SFAlienEncounters'), url(./fonts/SFAlienEncountersSolid.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'SF Alien Encounters';
  src: local('SFAlienEncounters'), url(./fonts/SFAlienEncountersSolidItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
} */